@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

#home {
	background: #030010;
	color: white;
}

.divisor {
	width: 100%;
	height: 1px;
	background: white;
}

.caixa {
	background: #030010;
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
	color: white;
}

.btn {
	color: white;
	text-decoration: none;
}

.btn a {
	width: 100%;
	color: white;
	text-decoration: none;
}


footer p a {
	margin: 5px 15px;
}

h1 {
	color: white;
}

h2 {
	font-family: 'Poetsen One', sans-serif;
	font-weight: 400;
	font-style: normal;
}

#text {
	color: rgb(255, 255, 255);
}


.btn:hover {
	color: white;
	text-decoration: none;
	transform: scale(1.15);
	transition: 0.3s;
}

.btn a:hover {
	width: 100%;
	color: white;
	text-decoration: none;
	transform: scale(1.15);
	transition: 0.3s;
}

.dev {
	margin-left: -15px;
	color: rgb(128, 0, 255);
}

#principal {
	display: flex;
	margin-left: 30px;
	color: white;
}

#principal:hover {
	color: rgb(147, 0, 206);
	transform: scale(1.15);
	transition: 0.2s;
}


.img-fluid:hover {
	transform: scale(1.05);
	transition: 0.5s;
	border-radius: 20px;
	border: none;
}

.codificacao {
	margin-top: 270px;
	margin-left: 0px;
	margin-bottom: 300px;
	width: 340px;
	animation: flutuando01 6s ease;
	animation-iteration-count: infinite;
}

@keyframes flutuando01 {
	0% {
		transform: scale(0.4);
	}

	50% {
		transform: scale(0.9);
	}

	100% {
		transform: scale(0.4);
	}
}

#portfóliotittle {
	font-family: 'Poetsen One', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.contatos {
	margin-top: -10px;
	margin-right: 40px;
	margin-bottom: 1px;
}

#contatocell {
	margin-top: -5px;
	margin-right: 40px;
	margin-bottom: -5px;
}

.desenvolvido {
	margin-right: 40px;
	margin-bottom: 0px;
}

.especialidades {
	animation: flutuando01 6s ease;
	animation-iteration-count: infinite;
	transform: translateX(1.05);
	transition: 0.2s;
	align-items: center;
	text-align: center;
	font-family: 'Poetsen One', sans-serif;
	font-weight: 400;
	font-style: normal;
}

@keyframes flutuando01 {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.5);
	}

	100% {
		transform: scale(1);
	}
}

@media screen and (max-width:  836px) {
   	.col-md-5 {
        display: none;
    }
	.codificacao{
		margin-left: 3vw;
        width: 160px;
    }

	#habilidades img {
		width: 300px;
	}
}

.entre-outras {
	align-items: center;
	text-align: center;
}


#buttoncontato, #mylinkedin, #entreemcontato, #text, #devfrontend, #codificacao {
	visibility: hidden;
}

#habilidades {
	display: flex;
	justify-content: center;
	align-items: center;
	
}

#habilidades img {
	margin-left: 5px;
}

span {
	color: rgb(128, 0, 255);
}